# Python
__pycache__/
*.pyc

# Virtual env
.venv/

# IDE
.idea/

# OS
.DS_Store
Thumbs.db

# env
.env
.env.*

# pytest
.pytest_cache/

# Playwright
playwright-report/
test-results/

# coverage
.coverage
htmlcov/

# screenshots / debug
debug_*.png
screenshots/
*.png